:root {
    --main-background-colour: black;

    --theme-background-colour: rgba(15, 15, 15, 0.97);      /* Dark Grey */
    --theme-border-colour: rgba(200, 200, 200, 0.2);        /* Grey */
    --theme-highlight-colour: rgba(220, 220, 220 , 0.3);    /* Light Grey */

    --content-width: 90vw;
    --content-top-bottom-margin: 10px;
    --font: 20px;

    --transition-speed: 300ms ease;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}



.navbar_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav_item {
    transition: var(--transition-speed);
}

.nav_link {
    display: flex;
    text-decoration: none;
}

.nav_img {
    width: 5rem;
    height: 5rem;
}

.link_text {
    display: none;
    margin: auto;
    margin-left: 1rem;
    
    color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.nav_item:hover {
    background-color: var(--theme-highlight-colour);
} 






body {
    background-color: var(--main-background-colour);
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 58vw, 58vw;

    margin: 0;
    padding: 0;

    font: 14px / 1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

div.header {
    width: var(--content-width);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    pointer-events: none;
}

.title {
    font-size: 48px;
    display:inline;
}

.version {
    font-style: italic;
    margin: 10px;
    display:inline;
}

.stats {
    margin: var(--content-top-bottom-margin);
}

.block {
    width: var(--content-width);
    margin: auto;
    margin-top: var(--content-top-bottom-margin);
    margin-bottom: var(--content-top-bottom-margin);
    display: flex;
}

.container {
    width: var(--content-width);
    border: 2px solid;
    border-color: var(--theme-border-colour);
    background-color: var(--theme-background-colour);
}

.sub_container {
    width: 100%;
    border: 2px solid;
    border-color: var(--theme-border-colour);
    background-color: var(--theme-background-colour);
}

.flex_container {
    width: var(--content-width);
    margin: auto;
    display: flex;
    gap: 10px;
}

.flex_list_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.list_item {
    width: 24rem;
    height: 6rem;
    font-size: 11px;
    transition: var(--transition-speed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_image {
    width: 6rem;
    height: 6rem;
}

.list_item:hover {
    background-color: var(--theme-highlight-colour);
    cursor: pointer;
}

b.ACTIVE {
    color: rgba(34, 71, 34, 1);
}

b.STANDBY {
    color: rgba(100, 0, 160, 1);
}

b.INACTIVE {
    color: rgba(64, 64, 64, 1);
}

.ACTIVE:hover {
    background-color: rgba(34, 71, 34, 0.3);
    color: white;
}

.STANDBY:hover {
    background-color: rgba(100, 0, 160, 0.3);
    color: white;
}

.INACTIVE:hover {
    background-color: rgba(64, 64, 64, 0.3);
    color: white;
}

.tier_list_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tier_list_row_header {
    width: 10rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tier_list_row_header_text {
    color: black;
    text-align: center;
}

.tier_list_item {
    width: 5rem;
    height: 5rem;
    margin: 2px;
}

.tier_list_item img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.tier_list_image {
    width: 5rem;
    height: 5rem;
    transition: var(--transition-speed);
}

.tier_list_text_box {
    font-size: 10px;
    margin: 0px;

    position: relative;
    top: -20px;

    width: 50%;
    text-align: center;

    background-color: var(--theme-background-colour);
    border-radius: 10px;
}

.tier_list_text {
    margin: 0px;
}

.search_bar {
    width: 100%;
}

.quick_statistics {
    width: 100%;
}

.amiibots_id {
    width: 40%;
}

.rating_history {
    height: 550px;
}

input {
    width: 100%;
    height: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    border: none;
    background-color: var(--theme-background-colour);
    color: white;

    transition: var(--transition-speed);
}

.search_buttons {
    display: flex;
}

input[type=button]:hover {
    cursor: pointer;
    background-color: var(--theme-highlight-colour);
}

input:hover {
    background-color: var(--theme-highlight-colour);
}

.flex_box {
    width: 100%;
}

li {
    font-size: 12px;
}

img {
    width: 300px;
    height: 300px;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--main-background-colour); 
}

::-webkit-scrollbar-thumb {
    background: var(--theme-border-colour); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-highlight-colour); 
}




@media only screen and (min-width: 1200px) {
    .navbar {
        width: 5rem;
        height: 100vh;
        position: fixed;
        z-index: 2;
    
        background-color: var(--theme-background-colour);
        border: 2px solid;
        border-color: var(--theme-border-colour);
    
        transition: var(--transition-speed);
    }

    .navbar:hover {
        width: 20rem;
    }
    
    .navbar:hover .link_text {
        display: flex;
    }
}


@media only screen and (max-width: 1200px) {
    :root {
        --content-width: 95vw;
    }

    .navbar {
        position: fixed;
        z-index: 5;
        bottom: 0;
        width: 100vw;
        height: 7rem;

        background-color: var(--theme-background-colour);
        border: 2px solid;
        border-color: var(--theme-border-colour);
    
        transition: var(--transition-speed);
    }

    .nav_img {
        width: 7rem;
        height: 7rem;
    }

    .navbar_nav {
        flex-direction: row;
    }

    .nav_link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
    
    body {
        padding-bottom: 8rem;
    }

}

