:root {
    --main-background-colour: black;

    --theme-background-colour: rgba(15, 15, 15, 0.97);      /* Dark Grey */
    --theme-border-colour: rgba(200, 200, 200, 0.2);        /* Grey */
    --theme-highlight-colour: rgba(220, 220, 220 , 0.3);    /* Light Grey */

    --content-width: 90vw;
    --content-top-bottom-margin: 10px;
    --font: 20px;
}

body {
    background-color: var(--main-background-colour);
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 58vw, 58vw;

    font: 14px / 1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

div.header {
    width: var(--content-width);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    pointer-events: none;
}

.title {
    font-size: 48px;
    display:inline;
}

.version {
    font-style: italic;
    margin: 10px;
    display:inline;
}

.stats {
    margin: var(--content-top-bottom-margin);
}

.block {
    width: var(--content-width);
    margin: auto;
    margin-top: var(--content-top-bottom-margin);
    margin-bottom: var(--content-top-bottom-margin);
    display: flex;
}

.container {
    width: var(--content-width);
    border: 2px solid;
    border-color: var(--theme-border-colour);
    background-color: var(--theme-background-colour);
}

.flex_container {
    width: var(--content-width);
    margin: auto;
    display: flex;
    gap: 10px;
}

.flex_list_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.list_item {
    width: 400px;
    height: 80px;
}

.list_item:hover {
    background-color: var(--theme-highlight-colour);
    cursor: pointer;
}

.sub_container {
    width: 100%;
    border: 2px solid;
    border-color: var(--theme-border-colour);
    background-color: var(--theme-background-colour);
}

.search_bar {
    width: 100%;
}

.quick_statistics {
    width: 40%;
}

.amiibots_id {
    width: 40%;
}

.rating_history {
    height: 550px;
}

input {
    width: 100%;
    height: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    border: none;
    background-color: var(--theme-background-colour);
    color: white;
}

.search_buttons {
    display: flex;
}

#button:hover {
    cursor: pointer;
}

input:hover {
    background-color: var(--theme-highlight-colour);
}

.flex_box {
    width: 100%;
}

li {
    font-size: 12px;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--main-background-colour); 
}

::-webkit-scrollbar-thumb {
    background: var(--theme-border-colour); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-highlight-colour); 
}




/* @media only screen and (max-width: 600px) {
    :root {
        --content-width: 95vw;
    }

    .search_bar {
        width: 60%;
    }
    
    .quick_statistics {
        width: 40%;
        font-size: 20px;
    }
} */